*{
    margin: 0;
    padding: 0;
}
header{
    overflow: hidden;
    
}
.logo{
    width: 20%;
    height: 70px;
    background-color: blue;
    text-align: center;
    color: beige;
    float: left;
    
}
.menu{
    width: 80%;
    height: 70px;
    background-color:orangered;
    color: beige;
    text-align: center;
    float: right;
}
.bar{
    height: 80px;
    background-color:darkgrey;
    color: black;
    text-align: center;
    
}
.content{
    overflow: hidden;

}
.left_content{
    width: 20%;
    background-color:green;
    height: 400px;
    float: left;

}
.middle_content{
    width: 60%;
    background-color:yellow;
    height: 400px;
    float: left;
    

}
.right_content{
    width: 20%;
    background-color: crimson;
    height: 400px;
    float: left;
}
.top{
    height: 30%;
    background-color: aqua;
    text-align: center;
}
.center{
    height: 40%;
    background-color: chartreuse;
    overflow: hidden;

}
.bottom{
    height: 30%;
    background-color: darkorchid;
    text-align: center;

}
.center_left{
    height: 100%;
    width: 50%;
    background-color: orange;
    float: left;
    text-align: center;
}
.center_right{
    height: 100%;
    width: 50%;
    background-color: palegreen;
    float: right;
    text-align: center;
}
footer{
    background-color: black;
    height: 70px;
    color:gold;
    text-align: center;
}